/* BEGIN Notifications */

.accepted {
  color: #468847;
}

.pending
{
  color: #f89406;
}

.pending-requests
{
  background-color: #e3a615;
}

.rejected {
  color: #b94a48;
}

/* END Notifications */


.rotate{
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.rotate.swap{
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}

.btn-on.active{background-color: #5BB75B;color: white;}
.btn-on.active:hover{background-color: #5BB75B;color: white;}


.btn-off.active{background-color: #DA4F49;color: white;}
.btn-off.active:hover{background-color: #DA4F49;color: white;}
