
.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


/* BEGIN Notifications */

.accepted {
  color: #468847;
}

.pending
{
  color: #f89406;
}

.pending-requests
{
  background-color: #e3a615;
}

.rejected {
  color: #b94a48;
}

/* END Notifications */


.btn-on.active{background-color: #5BB75B;color: white;}
.btn-on.active:hover{background-color: #5BB75B;color: white;}


.btn-off.active{background-color: #DA4F49;color: white;}
.btn-off.active:hover{background-color: #DA4F49;color: white;}


input[type="radio"]
{
    display:none;
}

label + input[type="radio"]
{
    position: relative;
    cursor:pointer;
}
