.price_map
{
  font-size: 18px;
}

.view_on_map
{
  color:#3aaa50 ;
  font-weight:bold;
  font-size: 12px;
  text-decoration:none;
}

.view_on_map:hover
{
  color:#33BB36;
  font-weight:bold;
  font-size: 12px;
  text-decoration:none;

}

.accepted {
  color: #468847;
}

.pending
{
  color: #f89406;
}

.pending-requests
{
  background-color: #e3a615;
}

.rejected {
  color: #b94a48;
}

.header_image{
  width: 100%;
  height:350px;
  margin: auto;
  cursor: pointer;
  overflow:hidden;

}
/* Main House Image */

@media (max-width:700px)  {

  .header_image{
    width: 100%;
    height:250px;
    margin: auto;
    cursor: pointer;
    overflow:hidden;
  }

  .container-full {
    margin: 0 auto;
    width:auto ;
    padding: 0;
    margin: 0;
  }
}

/* Modal + Carousel*/

.modal {
  text-align:center;
  background-color:  rgba(0,0,0,0.94);

}

#image_slider .modal-dialog {
  display: inline-block;
  width: auto;
  height: auto;

}

.carousel-inner > .item > img {
  display: block;
}

/* Layout date and time classes/ids */
.datepicker {
  background-color: #fff ;
  color: #333 ;
}

#timepicker5{
  background-color: #fff ;
  color: #333 ;
}
