.price_title {
  background-color: #fff;
  color: #FF084A;
  font-size: 15px;
  display: inline;
  opacity:0.9;
  padding-top: 20px;
}

.accepted {
  color: #468847;
}

.pending
{
  color: #f89406;
}

.pending-requests
{
  background-color: #e3a615;
}

.rejected {
  color: #b94a48;
}

.header_image{
  width: 100%;
  height:400px;
  margin: auto;
  cursor: pointer;
  overflow:hidden;
}

/* Main House Image */

@media (max-width:700px)  {

  .header_image{
    width: 100%;
    height:250px;
    margin: auto;
    cursor: pointer;
    overflow:hidden;
  }
}
