
.btn i.fa {
  opacity: 0;

}
.btn.active i.fa {
  opacity: 1;

}


.btn.active{
  background-color: #3aaa50;
  color: white;
  width:100%;


}
.btn.active:hover{
  background-color: #3aaa50;
  color: white;
  width:100%;


}

.btn{
  background-color: #E5E5E5;
  color: #999;
  width:100%;

}

.btn:hover{
  background-color: #E5E5E5;
  color: #999;
  width:100%;


}

@media (min-width:641px)  {
  .btn.active{
    background-color: #3aaa50;
    color: white;
    width:25%;


  }
  .btn.active:hover{
    background-color: #3aaa50;
    color: white;
    width:25%;


  }

  .btn{
    background-color: #E5E5E5;
    color: #999;
    width:25%;

  }

  .btn:hover{
    background-color: #E5E5E5;
    color: #999;
    width:25%;


  }
}




/* Align the slider and the min max value */

.filter
{
  display: flex;
  align-items: center;
}

input[type="text"]{
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
}



.slider-range  {
  margin-top: 0px;
  background: red;
  width: 100%;

}



.slider-range.ui-slider {
  border-radius: 10px;
  background: red;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.slider-range.ui-slider-horizontal {
  height: 6px;
  background: #E8E7E6;
  border: 0px;

}

.slider-range.ui-slider-vertical {
  height: 5em;
  width: 10px;
}

.slider-range .ui-slider-handle {
  border: 1px solid #3aaa50 !important;
  height: 25px !important;
  width: 25px !important;
  border-radius: 25px;
  background: #ffffff !important;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}



.slider-range .ui-slider-range {
  border: 0;
  background: #3aaa50;
}


.slider-range.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 8px;
}

.ui-slider .ui-slider-handle:focus {
  outline: none;
}
